.flex_container{
    box-sizing: border-box;
    min-height: 10vh;
    gap: 80px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Titillium Web', sans-serif;
}

input{
    height: 70px;
    width: 300px;
    border-radius: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-left: auto;
}

h1 {
    text-align: center
}

a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    font-size: 29px;
    color: aliceblue;
    min-height: 10vh;
    gap: 80px;
}